{% extends 'base.html.twig' %} 
{% block body %}

<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">User</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      {{ form_start(form) }}
      <div class="row">
        <div class="col-12">
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.roles) }}
            {{ form_row(form.submit) }}
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}